OWNER_NAME="MUNYIRI JOSEPH"
PREFIX="-"
PUBLIC_MODE='non'
AUTO_READ_STATUS="non"
AUTO_DOWNLOAD_STATUS="oui"
BOT_NAME= "Sejo-x-th- MD"
IMAGE_MENU= "https://files.fm/MunyiriJoseph8%40co.ke#n9farfyqhw"
NUMERO_OWNER= "254114305147"
OWNER_NAME= "᚛munyiri Joseph᚜"
DATABASE_URL= ""
WARN_COUNT= ""
OPENAI_API_KEY= ""
STARTING_BOT_MESSAGE='yes'
ANTI_DELETE_MESSAGE='yes'
